<a href="https://colab.research.google.com/github/adithyasajeev/basic2/blob/main/Copy_of_Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("enter the number"))
for i in range (1,11):
  print(i, "x",num,"=", i*num)

enter the number8
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

In [ ]:
num=int(input())
i=1
while(i<=10):
  print(i, "x", num, "=", i*num)
  i=i+1

6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

In [ ]:
num=(input("enter the number"))
d=0
for i in num:
  #print(i)
  d=d+1
print(d)

enter the number123456
6

In [ ]:
x=input("enter a string")
w=""
for i in x:
  w=i+w
print(w)
if x==w:
  print("true")
else:
  print("false")

enter a stringmom
mom
true

In [ ]:

a=input('Enter Country name ')
b=input('Enter Country name ')
c=input('Enter Country name ')
d=input('Enter Country name ')
e=input('Enter Country name ')
L=[a,b,c,d,e]
print(sorted(L))
f=input('Enter another country name ')
L.append(f)
print(L)

Enter Country name UK
Enter Country name USA
Enter Country name AFRICA
Enter Country name AMERICA
Enter Country name EUROPE
['AFRICA', 'AMERICA', 'EUROPE', 'UK', 'USA']
Enter another country name NORWAY
['UK', 'USA', 'AFRICA', 'AMERICA', 'EUROPE', 'NORWAY']