In [ ]:
def adithya():
  print("huaahhahahahhahahhahahahhahahhhhh")

In [ ]:
adithya()

huaahhahahahhahahhahahahhahahhhhh

In [ ]:
def adithya(x,y):
  z=x+y
  print("result = ", z)

In [ ]:
adithya(2,3)

result =  5

In [ ]:
def adithya(x,y):
  z=x-y
  print("result = ", z)

In [ ]:
adithya(3,2)

result =  1

In [ ]:
def adithya(x,y):
  z=x*y
  print("result = ", z)

In [ ]:
adithya(2,3)

result =  6

In [ ]:
def adithya(salary):
  if x>250000:
    print("you are taxable")
  else:
    print("you are not taxable")

In [ ]:
x=int(input("enter a salary"))
adithya(x)

enter a salary5000000
you are taxable

In [ ]:
def adithya(x):
  k=0
  for a in range(1,x):
     k=k+a
  print(k)

In [ ]:
adithya(10)

45

In [ ]:
def add(x,y):
   print(x+y)
def sub(x,y):
   print(x-y)

In [ ]:
x=int(input("enter a number"))
y=int(input("enter a number"))
add(x,y)
sub(x,y)

enter a number7
enter a number7
14
0